body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url(img/fondo1.webp);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00ff80; 
}

.background-image::before {
   
    content: "";
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 3rem;
    position: relative;
}

nav li ul {
    position: absolute;
}
nav a{
    color: rgba(232, 232, 244, 0.537);
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: 0.4s;
}

nav a:hover{
    background: rgba(191, 184, 184, 0.5);
}
.menu{
    display: table;
    width: 100%;
    border-radius: 10%;

}
.menu > li {
    float: left;
}
nav li li {
    background: #14ab71;
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
    width: 200px;
}
nav li:hover > ul > li{
    max-height: 1000px;
    overflow: visible;
}
.menu > li > ul{
    top: 100%;

}

.menu ul ul {
    left: 100%;
    top: 0;
 
}

